name: test

on: [push]

jobs:
  test:
    env:
      RUSTC_WRAPPER: sccache
      CARGO_INCREMENTAL: 0
      CARGO_HOME: /vol/cargo
    runs-on: self-hosted
    steps:
      - name: Check out repository code
        uses: actions/checkout@v3
      - name: Run tests
        run: |
          cd ${{ github.workspace }}
          sccache --zero-stats
          cargo clippy
          just test --no-capture
          sccache --show-stats